{% extends 'base.html.twig' %}

{% block title %} New product {% endblock %}

{% block body %}

<div class="col-md-12">

    <h4 class="mb-5 mt-5"> Add a new product </h4>

    {{ form_start(productForm) }}

       {{ form_widget(productForm) }}

       <button type="submit" class="btn btn-primary">Add</button>

    {{ form_end(productForm) }}

</div>
{% endblock %}
