{% extends 'base.html.twig' %}

{% block title %} {{ product.name }} {% endblock %}

{% block body %}

<div class="col-md-3 mt-3">
      <a target="_blank" href="{{ asset('storage/') ~ product.logo }}">
          <img class="img-thumbnail w-100" width="100" src="{{ asset('storage/') ~ product.logo }}"/>
      </a>
</div>

<div class="col-md-12">

    <h4 class="mb-4 mt-3"> {{ product.name }} [update] </h4>

    {{ form_start(productForm) }}

       {{ form_row(productForm.name, {'value' : product.name}) }}
       {{ form_row(productForm.description, {'value' : product.description}) }}
       {{ form_row(productForm.price, {'value' : product.price}) }}
       {{ form_row(productForm.count, {'value' : product.count}) }}
       {{ form_row(productForm.logo, {'required' : false}) }}

       <button type="submit" class="btn btn-primary">Update</button>

    {{ form_end(productForm) }}

</div>
{% endblock %}
