{% extends 'base.html.twig' %}

{% block title %} All products {% endblock %}

{% block body %}

    <div class="col-md-12">
       {% for message in app.flashes('success') %}
           <div class="alert alert-success text-center">
               {{ message }}
           </div>
       {% endfor %}
        <div class="alert alert-danger d-none text-center"></div>
    </div>

    <div class="col-md-12">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Logo</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Count</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                   <th scope="row">{{ product.id }}</th>
                   <td style="max-width: 100px">
                       <a target="_blank" href="{{ asset('storage/') ~ product.logo }}">
                           <img class="img-thumbnail w-100" width="100" src="{{ asset('storage/') ~ product.logo }}"/>
                       </a>
                   </td>
                   <th scope="row">{{ product.name }}</th>
                   <td>€ {{ product.price }}</td>
                   <td>{{ product.count }}</td>
                   <td>
                       <a href="{{ path('page_edit_product', { 'id' : product.id }) }}">edit</a> |
                       <a class="delete-product" href="{{ path('api_delete_product', { 'id' : product.id }) }}">delete</a>
                   </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
