<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>{% block title %}Welcome to the OxaFirst project{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        {% endblock %}
    </head>

    <header class="mb-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('index') }}">Homepage</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('page_add_product') }}">Add</a>
                            </li>

                        </ul>
                    </div>

                    <a class="navbar-brand float-right" href="{{ path('index') }}">Products stock v1.0</a>
                </nav>
                </div>
            </div>
        </div>
    </header>

    <body>

      <div class="container mt-2">
          <div class="row">

              <div class="col-md-12">
                  <div class="alert alert-danger d-none text-center"></div>
              </div>

              <div class="col-md-12">
                  <div class="alert alert-info d-none text-center"></div>
              </div>

              {% block body %}{% endblock %}
          </div>
      </div>

        {% block javascripts %}
            <script src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.js') }}"></script>
            <script src="{{ asset('js/form.js') }}"></script>
            <script src="{{ asset('js/bs-custom-file-input.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
