{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-md-12">
        <h1 class="text-center display-4 font-weight-bold mt-5">404</h1>
        <h3 class="text-center mt-3">Page not found</h3>

        <p class="mt-5 text-center">
            The requested page couldn't be located. Checkout for any URL
            misspelling or <a href="{{ path('index') }}">return to the homepage</a>.
        </p>
    </div>

{% endblock %}
